<h1>Paginas#localizacao</h1>
<p>Find me in app/views/paginas/localizacao.html.erb</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3705.4736810920504!2d-41.33962688533584!3d-21.76192100349044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbdd43f181be41b%3A0x76c2379e0347fa62!2sInstituto+Federal+de+Educa%C3%A7%C3%A3o%2C+Ci%C3%AAncia+e+Tecnologia!5e0!3m2!1spt-BR!2sbr!4v1485989737105" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>